<div class="enhance-box col-xs-4 col-xs-offset-4">
	<h1>Add a Lesson</h1>

	<%= simple_form_for @lesson, url: instructor_section_lessons_path(@section) do |f| %>
		<%= f.input :title %>
		<%= f.input :subtitle %>
		<%= f.submit 'Add Lesson', class: 'btn btn-primary form-submit' %>
	<% end %>
</div><!-- /.enhance-box col-xs-4 col-xs-offset-4 -->