$font-family: 'Helvetica Neue', Helvetica;
$border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;

.navbar, .navbar-brand {
	font-family: $font-family;
}

.navbar {
	font-weight: 200;
	box-shadow: 0 1px 3px #2a2a2a;
	background: url(dark_wood.png);
}

.navbar-brand {
	font-weight: 100;
	color: white;
}

body {
	margin-top: 50px;
	background: url(concrete_seamless.png);
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

h1, h2, h3, h4, h5, h6, .navbar {
	margin: 0;
}

.jumbotron {
	background: url(jumbotron.jpg);
	height: 370px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-shadow: 0 3px 8px #2a2a2a;
}

.frosty {
	background: rgba(0, 0, 0, .5);
	color: white;
	margin-top: 20px;
	h1, h2 {
		font-family: $font-family;
		text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
	}
	h1 {
		font-weight: 100;
	}
	h2 {
		font-weight: 200;
	}
}

.course-image {
	margin: 20px auto;
}

#jumbotron-magic,
#jumbotron-illusionist,
.learn-more-btn,
.administrate-btn,
.new-section-btn {
	margin-top: 20px;
	margin-bottom: 20px;
}

.next-lesson-btn {
	margin-bottom: 20px;
}

.learn-more-btn {
	border-radius: 0;
}

.features,
.course-description,
.enroll-btn,
.stripe-button-el,
.sections .glyphicon {
	margin-top: 20px;
}

.course-cost {
	display: block;
	width: 50px;
	margin: 0 auto;
}

.enhance-box {
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
	box-shadow: 1px 1px 2px 0 #d0d0d0;
	background: #fff;
	border: 1px solid #ccc;
	border-color: $border-color;
	margin-top: 20px;
	padding: 10px;
	h1 {
		text-align: center;
	}
	h1, h2 {
		margin: 10px 10px 20px 0;
	}
}

input {
	margin-bottom: 10px;
}

.form-submit {
	margin-top: 10px;
}

#wrap:after,
.course:after,
.add-section:before,
.section::after,
.section-header:after,
.lesson-header:after,
.lessons li:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.field_with_errors {
	color: #ff3333;
	background-color: #FFEEEE;
	border-radius: 3px;
	padding: 8px;
	margin: 10px;
}

ul {
	list-style: none;
	.section-header {
		font-size: 25px;
		.glyphicon {
			font-size: 20px;
		}
	}
}

.section {
	border: 1px solid;
	border-color: $border-color;
	padding: 20px;
	margin-top: 40px;
}

.section-title {
	margin-top: -12.5px;
}

.section-li {
	border: 1px solid;
	border-color: $border-color;
	padding: 20px;
	margin: 20px;
}

.lessons li {
	background: black;
	color: white;
	margin: 10px;
	font-family: $font-family;
	font-weight: 100;
	padding: 8px;
	font-size: 15px;
	strong {
		font-size: 25px;
		font-weight: 100;
	}
	p {
		margin: 0;
	}
}

.section-li, .lessons li {
	&:hover {
		cursor: -webkit-grab;
	}
	&:active {
		cursor: -webkit-grabbing;
	}
}

.lesson {
	background-color: black;
	margin-top: 10px;
	height: 130px;
	a {
		color: white;
		font-family: $font-family;
		font-weight: 100;
		font-size: 15px;
		display: inline-block;
		margin-top: 30px;
		strong {
			font-weight: 100;
			font-size: 25px;
		}
	}
}

.lesson-header p {
	margin-top: 5px;
}

.new-lesson-btn {
	margin-left: 55px;
}