.navbar, .navbar-brand {
	font-family: 'Helvetica Neue', Helvetica;
}

.navbar {
	font-weight: 200;
	box-shadow: 0 1px 3px #2a2a2a;
	background: url(dark_wood.png);
}

.navbar-brand {
	font-weight: 100;
	color: white;
}

body {
	margin-top: 50px;
	background: url(concrete_seamless.png);
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

h1, h2, h3, h4, h5, h6, .navbar {
	margin: 0;
}

.jumbotron {
	background: url(jumbotron.jpg);
	height: 370px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-shadow: 0 3px 8px #2a2a2a;
}

.frosty {
	background: rgba(0, 0, 0, .5);
	color: white;
	margin-top: 20px;
	h1, h2 {
		font-family: 'Helvetica Neue', Helvetica;
		text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
	}
	h1 {
		font-weight: 100;
	}
	h2 {
		font-weight: 200;
	}
}

#jumbotron-magic,
#jumbotron-illusionist,
.learn-more,
.features,
.course-description, {
	margin-top: 20px;
}

#jumbotron-magic,
#jumbotron-illusionist,
.learn-more {
	margin-bottom: 20px;
}

.learn-more {
	border-radius: 0;
}

.enhance-box {
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
	box-shadow: 1px 1px 2px 0 #d0d0d0;
	background: #fff;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
	margin-top: 20px;
	padding: 10px;
	h1, h2 {
		margin: 10px 10px 20px 0;
	}
}

input {
	margin-bottom: 10px;
}

.form-submit {
	margin-top: 10px;
}

#wrap:after, .course:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.field_with_errors {
	color: #ff3333;
	background-color: #FFEEEE;
	border-radius: 3px;
	padding: 8px;
	margin: 10px;
}

.course-cost {
	display: block;
	width: 42px;
	margin: 0 auto;
}

.administrate-btn {
	margin-top: 20px;
}